extends layouts/main

block content
  .section-1 
    .section-1_left 
      .section-1_left_top 100% Organic Product
      .section-1_left_title Buy Delicious produce Enjoy Free Shipping
      .section-1_left_button Buy Now
    .section-1_right
      img(src="/images/hero.png", alt="")
  h1.search Products
  div.product
    each product in products
      include components/product
  .section-2
    .section-2_left
      .img-wrapper
        img(src="/images/off-01.png")
        .content
          .title2 GET 30% OFF
          .desc Fresh Vegetables
          button.button3 Buy Now

    .section-2_right
      .img-wrapper
        img(src="/images/off-02.png")
        .content
          .title2 Limited Offer
          .desc2 Don't miss 25% off 
          .desc2 on all fruits
          button.button3 Buy Now
  .section-3
    .section-3_top 
      .section-3_top_title 
        p.section-3_top_title_inline THIS WEEK
      .section-3_top_desc Best Sellers
    .section-3_bottom
      each product in products2
        .section-3_bottom_box 
          .section-3_bottom_box_image 
            img(src=`${product.image}`, alt="", srcset="")
          .section-3_bottom_box_content
            .section-3_bottom_box_content_title #{product.productName}
            .section-3_bottom_box_content_price USD #{product.price}

  .section-4
    .section-3_top 
      .section-3_top_title 
        p.section-3_top_title_inline TOP SALES
      .section-3_top_desc Featured Product
    .section-4_bottom
      each product in products3
        .section-4_bottom_box 
          .section-4_bottom_box_image 
            img(src=`${product.image}`, alt="", srcset="")
          .section-4_bottom_box_content 
            .section-4_bottom_box_content_title #{product.productName}
            .section-4_bottom_box_content_price USD #{product.price}